version: '3.8'

services:
  contractorcalc:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "127.0.0.1:3002:3002"
    env_file: .env.production
    environment:
      - PORT=3002
    restart: unless-stopped
    networks:
      - perdiemify

networks:
  perdiemify:
    external: true
    name: infra_perdiemify
